
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-572822325905326976.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-572822325905326976.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-572822325905326976.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-572822325905326976.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-572822325905326976.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-572822325905326976.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-572822325905326976.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-572822325905326976.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-572822325905326976.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-572822325905326976.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-572822325905326976.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-572822325905326976.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-572822325905326976.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-572822325905326976.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-572822325905326976.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-572822325905326976.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-572822325905326976.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-572822325905326976.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-572822325905326976.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-572822325905326976.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-572822325905326976.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-572822325905326976.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-572822325905326976.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-572822325905326976.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-572822325905326976.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-572822325905326976.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-572822325905326976.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-572822325905326976.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-572822325905326976.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-572822325905326976.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-572822325905326976.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-572822325905326976.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-572822325905326976.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-572822325905326976.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-572822325905326976.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-572822325905326976.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-572822325905326976.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-572822325905326976.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-572822325905326976.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-572822325905326976.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-572822325905326976.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-572822325905326976.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-572822325905326976.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-572822325905326976.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-572822325905326976.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-572822325905326976.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-572822325905326976.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-572822325905326976.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-572822325905326976.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-572822325905326976.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-572822325905326976.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-572822325905326976.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-572822325905326976.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-572822325905326976.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-572822325905326976.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-572822325905326976.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-572822325905326976.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-572822325905326976.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-572822325905326976.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-572822325905326976.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-572822325905326976.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-572822325905326976.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-572822325905326976.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-572822325905326976.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-572822325905326976.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-572822325905326976.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-572822325905326976.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-572822325905326976.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-572822325905326976.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-572822325905326976.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-572822325905326976.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-572822325905326976.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-572822325905326976 .gp-relative{position:relative}.gps-572822325905326976 .gp-z-1{z-index:1}.gps-572822325905326976 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-572822325905326976 .gp-mb-0{margin-bottom:0}.gps-572822325905326976 .gp-flex{display:flex}.gps-572822325905326976 .gp-inline-flex{display:inline-flex}.gps-572822325905326976 .gp-grid{display:grid}.gps-572822325905326976 .\!gp-hidden{display:none!important}.gps-572822325905326976 .gp-hidden{display:none}.gps-572822325905326976 .gp-h-full{height:100%}.gps-572822325905326976 .gp-max-w-full{max-width:100%}.gps-572822325905326976 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-572822325905326976 .gp-flex-col{flex-direction:column}.gps-572822325905326976 .gp-items-center{align-items:center}.gps-572822325905326976 .gp-justify-center{justify-content:center}.gps-572822325905326976 .gp-gap-y-0{row-gap:0}.gps-572822325905326976 .gp-overflow-hidden{overflow:hidden}.gps-572822325905326976 .gp-break-words{overflow-wrap:break-word}.gps-572822325905326976 .gp-rounded-none{border-radius:0}.gps-572822325905326976 .gp-text-center{text-align:center}.gps-572822325905326976 .gp-no-underline{text-decoration-line:none}.gps-572822325905326976 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-572822325905326976 .gp-duration-200{transition-duration:.2s}.gps-572822325905326976 .gp-duration-300{transition-duration:.3s}.gps-572822325905326976 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-572822325905326976 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-572822325905326976 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-572822325905326976 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-572822325905326976 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-572822325905326976 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-572822325905326976 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-572822325905326976 .tablet\:\!gp-hidden{display:none!important}.gps-572822325905326976 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-572822325905326976 .mobile\:\!gp-hidden{display:none!important}.gps-572822325905326976 .mobile\:gp-hidden{display:none}}.gps-572822325905326976 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-572822325905326976 .\[\&_p\]\:gp-inline p{display:inline}.gps-572822325905326976 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-572822325905326976 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-572822325905326976 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--bottom:0%;--pos:sticky;--pos-mobile:sticky;--top:0px;--z:99999;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g0-p07NupX" data-id="g0-p07NupX"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:15px;--pb:15px;--pt-tablet:15px;--pl-tablet:var(--g-s-l);--pb-tablet:15px;--pr-tablet:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#8b1638;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0-p07NupX sticky-top-section gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvHP5qcwhh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g0IzJl7wG5" data-id="g0IzJl7wG5"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0IzJl7wG5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghin5WQ2r3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggEaUWDg_A">
    <div
      parentTag="Col"
        class="ggEaUWDg_A "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggEaUWDg_A_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:10px;--ta:center"
    
  >
    <style>
    .gOlNoo6Sjc.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gOlNoo6Sjc:hover::before {
      
      
    }

    .gOlNoo6Sjc:hover .gp-button-icon {
      color: #000000;
    }

     .gOlNoo6Sjc .gp-button-icon {
      color: #000000;
    }

    .gOlNoo6Sjc:hover .gp-button-price {
      color: #000000;
    }

    .gOlNoo6Sjc .gp-button-price {
      color: #000000;
    }

    .gOlNoo6Sjc .gp-product-dot-price {
       color: #000000;
    }

    .gOlNoo6Sjc:hover .gp-product-dot-price {
      color: #000000;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/bio-collagen-mask" target="_self" data-id="gOlNoo6Sjc" aria-label="<p>Check availability</p>"
      
      data-state="idle"
      class="gOlNoo6Sjc gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--w:455px;--w-tablet:455px;--w-mobile:100%;--h:70px;--h-tablet:70px;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--hvr-c:#000000;--c:#000000;--size:20px;--size-tablet:20px;--size-mobile:18px;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:20px;--size-tablet:20px;--size-mobile:18px;--hvr-c:#000000;--c:#000000"
      >
        {{ section.settings.ggOlNoo6Sjc_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    "presets": [{ "name": "top sticky section" }],
    "name": "top sticky section",
    "tag": "section",
    "class": "gps-572822325905326976 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/223a18-2/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=572822325905326976)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gggEaUWDg_A_text","label":"gggEaUWDg_A_text","default":"<p><strong>Restocked &amp; Ready:</strong> You asked, we delivered! The Bio Collagen Mask is back—grab yours before it sells out again. 💕</p>"},{"type":"html","id":"ggOlNoo6Sjc_label","label":"ggOlNoo6Sjc_label","default":"<p>Check availability</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
